* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;
  
}

.container {
  background-color: aqua;
  height: 400px;
  width: 400px;
  margin: 10% auto;
}

.container-box {
  background-color: white;
  width: 10px;
  height: 10px;
}