* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;

}

.canvas {
  margin: 10% auto;
  height: 400px;
  width: 400px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}


.canvas-box {
  height: 25px;
  width: 25px;;
  background-color: white;
  border: 0.3px dotted black;
}