* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;
  
}

.container {
  background-color: aqua;
  height: 400px;
  width: 400px;
  margin: 10% auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.container-box {
  background-color: white;
  width: 25px;
  height: 25px;
  border: 0.3px dotted black;
}